
html, body {
    height: 100%;
    width: 100%;
}

@keyframes rollerCoaster {
    0% {
        /* x-index:0deg; */
        opacity: 0;
        transform: rotate(180deg) ;
        
    }
    50%{
        /* x-index:360deg; */
        opacity: 1;
        transform: rotate(360deg) scale(1.5);
    }
    100% {
        opacity: 0;
        transform: rotate(0deg);  
    }
}
 
@keyframes smoothOperator {
    0%{
        transform: rotate(-9deg) scale(1);
    }
    33% {
        transform: rotate(0deg) scale(1.1);
    }
    66% {
        transform: rotate(9deg) scale(1) ;
     }
     100% {
        transform: rotate(0deg) scale(1.1);
    }

}


h1 {
    width:80%;
    text-align: center;
    margin:auto;
}
.liquorcabinet {
    width : 100%;
    position: absolute;
    top :50px;
    /* display: grid; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* border: 5px solid gold; */
    /* grid-template-columns: 320px 320px 320px 320px; */
    /* max-width: 1000px; */
}

/* picture frame */

.picture-frame {
     /* if you set this to a percentage, and drop the height line you loose the square */
    width:300px; 
    height:300px;

    float: left;
    margin: 10px;
    border: 2px solid cornflowerblue;


    /* centering , but my object-fit below in the img tag with width=height is fixing this too.*/
    display: flex;
    justify-content: center;
    align-items:center;
}

.picture-frame img {

    /* padding-top: 100% ; 1:1 aspect ratio */

    /* padding: 10px; */

     /* width:33.3%;*/
    /* padding-top: 100%; */
    /* height: 0;  */

    width: 100%;
    height: 100%;
    object-fit: cover;

    /* this controls the speed of the transition */
    /* transition: transform 4400ms;  
    transition: all .3s ease-in-out; */



    /* width:300px;
    height:300px; */
    opacity: .9;
}

/* .picture-frame:hover  img{
    outline: 5px solid yellow;
    transform: scale(1.10);
    opacity: 1.0;
    z-index: 4;
}
.picture-frame img:hover {
    border: 2px solid red;

} */

/* NO SPACE BETWEEN .picture-frame and .big */
/* because they are on the SAME LEVEL not nested */

.picture-frame.big img {
    
    outline: 5px solid yellow;
    /* transform: scale(2.10); */
    /* opacity: 1.0; */
    z-index: 4; 
   
    /* animation: rollerCoaster 3s  infinite ; */
    animation: smoothOperator 5s  infinite ;

}

/*
@media screen and (min-width: 500px) {
    body {
        background: yellow;
    }
        .picture-frame {
           width:25%; 
           border: 6px solid purple;
            }
}


@media screen and (min-width: 1000px) {
    body{
        background: red;
    }
    .liquorcabinet {
        flex-direction: column;
    }

}
*/
/* note the above settings WILL BE OVERWRITTEN BELOW */
